html {
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
}
 
body {
    font-family: "Helvetica";
    margin: 0;
    padding: 30px;
    padding-left: 50px;
    background: linear-gradient(#765eb6, #eb98bb);
    background-size: cover;
    color: white;
}

h1 {
    font-size: max(35px, 4vw);
    margin-bottom: 0;
}

.desc {
    font-size: 1.3em;
}

.why {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.reason {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    padding-bottom: 25px;
    margin-bottom: 25px;
    width: fit-content;
}

.reason p {
    margin-top: 10px;
    max-width: 500px;
}

.socials {
    margin-top: 40px;
    margin-bottom: 50px;
}

.socials p {
    font-weight: bold;
}

.socials a {
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #5A9DE5;
    border-radius: 5px;
    color: inherit;
    box-sizing: border-box;
    display: inline-block;
}
